<div class="main">
  <h1>About Page</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores odio illo,
    nemo, voluptates, recusandae provident cumque tenetur consequatur nisi odit
    delectus voluptatem numquam ut est eum? Aperiam quae quam ea consequuntur
    possimus in ducimus fuga voluptatem tempore cum dolore quasi quia, facilis
    est facere dicta optio magni soluta eius quisquam unde tenetur vitae. Autem
    consequuntur deleniti minima, commodi, iste culpa totam impedit mollitia
    velit perferendis eius reprehenderit dicta, cupiditate soluta provident
    voluptates hic nisi nihil error? Voluptas obcaecati, earum eveniet rem
    quidem sequi id officia quae iste eligendi vero eum eius sapiente nam. Magni
    expedita commodi dicta error delectus eligendi! Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Mollitia nihil enim quasi corrupti obcaecati
    deserunt quo. Ab iusto aliquid accusamus tempore quibusdam minus asperiores
    consectetur totam earum. Quibusdam repellendus expedita hic eum nam numquam!
    Voluptate mollitia et quo, atque recusandae blanditiis modi commodi
    explicabo voluptatibus iure error veniam laborum ut vel optio tempore
    perspiciatis repellat alias eveniet ea ullam minima aliquam! Voluptates
    dignissimos enim delectus explicabo, recusandae libero sed officiis magnam
    quas dolor facilis aliquam ab nobis illo dolores laboriosam, iusto rem
    deleniti nihil, consequuntur nulla. Eveniet enim mollitia ullam! Obcaecati
    repudiandae magnam a unde, ab nostrum sit explicabo nesciunt tempore, sint,
    deleniti eos adipisci pariatur sapiente? Cum, ea praesentium dolorem ipsum
    eum laborum voluptatibus quibusdam perspiciatis laudantium est, nam nostrum
    quaerat corrupti animi unde itaque! Nobis culpa sed provident modi
    laudantium, voluptas delectus qui soluta, maiores placeat aliquid
    laboriosam! Tempore, deleniti accusamus. Debitis neque iusto, iste aperiam
    nulla omnis laborum suscipit, quasi quia non quos cum fugiat perspiciatis
    tempora laudantium optio aut! Itaque consequatur repudiandae optio incidunt
    eius maxime fuga nostrum perspiciatis qui, inventore sit eum laboriosam
    illum, quasi molestias modi. Officiis fugiat, reprehenderit, hic similique
    itaque nihil cumque in neque facere fugit vitae aspernatur magnam ipsum
    voluptatem. A. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Asperiores veniam ut temporibus quae eos, fugit deserunt. Totam facere
    molestias atque maxime veritatis dicta doloremque mollitia facilis doloribus
    aspernatur? Debitis facere ducimus reprehenderit fugit ad aliquam quisquam,
    iure inventore deleniti minus culpa deserunt porro natus cum hic aspernatur
    magnam ullam, accusamus, laborum corporis. Dicta quae accusantium porro
    dolore provident sequi tempore laboriosam reprehenderit atque, voluptatibus
    aut aperiam nostrum quia aliquam itaque aliquid nihil maiores exercitationem
    facere saepe repudiandae, excepturi inventore praesentium. Mollitia,
    sapiente blanditiis eum hic possimus molestiae nostrum dicta reiciendis
    totam, cupiditate optio qui maxime nisi obcaecati facilis dignissimos, alias
    modi quisquam quod! Possimus fugit maiores illum aperiam dolorem inventore
    in at soluta dignissimos, aliquid blanditiis a obcaecati fugiat perferendis
    autem minima optio enim non. Eligendi quibusdam non, culpa ipsa eum
    voluptatum ipsum eius laborum pariatur quia, necessitatibus, maiores magni a
    impedit? Ut distinctio fugiat deleniti! Voluptatibus tempore nulla autem
    nobis vel culpa facilis quia omnis inventore velit illo, porro quod eos
    laborum maxime voluptas, alias voluptatem! Nam sit quas ad maxime nesciunt
    dignissimos, laborum eius modi! Ipsa pariatur ipsum delectus enim veniam
    consequuntur. Culpa, nihil. Molestiae, molestias facere dolor earum iusto
    incidunt omnis, rem veritatis corrupti magnam nobis et atque aut excepturi
    quasi neque repudiandae necessitatibus ut ea in doloremque vel enim
    laudantium sequi! Exercitationem qui incidunt possimus eligendi repellendus
    porro saepe ut quidem expedita tempore in adipisci vero vel odit sapiente
    illo ad nisi rerum praesentium nesciunt, quaerat corporis, quod doloribus
    accusantium. Ab culpa, repellat laboriosam officiis dolores explicabo
    tempore dolorum facere hic eligendi eaque magnam nisi sint praesentium
    distinctio optio similique voluptas ex, illum id voluptates quam adipisci
    iusto quibusdam. Provident aspernatur repellat ea reiciendis voluptatibus
    distinctio beatae quaerat possimus fugiat modi, reprehenderit porro, sint
    dolorem obcaecati, delectus nulla? Vitae numquam architecto placeat
    aspernatur vel deserunt explicabo.
  </p>
</div>

<!-- footer -->
<mat-toolbar class="footer">
  <mat-toolbar-row>
    All Rights Reserved &copy; Global Automation inc
  </mat-toolbar-row>
</mat-toolbar>
