.title_box {
  width: 100%;
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* table */
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}